.notes-container{
    flex: 1;

    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    .notes{
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    @media (max-width: 800px) {
        .notes{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (max-width: 500px) {
        .notes{
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
.notes-container::-webkit-scrollbar{
    display: none;
}