.quick-note-modal{
    position: absolute;
    z-index: 3;

    display: flex;
    flex-direction: column;

    width: 290px;
    height: 200px;
    padding: 16px 14px;

    font-family: Lato, sans-serif;
    
    background-color: #FFFAF0;

    border-radius: 10px;

    input,
    textarea{
        border-style: none;
        outline: none;
    }
    textarea{
        flex: 1;
        resize: none;
        
        font-family: Lato, sans-serif;
    }

    .note-modal--inp-title{
        margin: 0;
        
        font-size: 26px;
        font-weight: bold;
    }
    .note-modal--inp-tags{
        margin-bottom: 6px;

        font-size: 12pt;
        color: #3f3f3f;
    }
    .note-modal--line{
        margin-bottom: 6px;

        width: 100%;
        height: 2px;
        background-color: #adadad;
    }
}