.MDNoteModal{
    position: absolute;
    z-index: 3;
    top: 0;

    width: 100%;
    height: 100%;

    .MDEditor{
        height: 100% !important;

        resize: none;

        .w-md-editor-bar{
            display: none;
        }

        .w-md-editor-toolbar,
        .w-md-editor-content{
            background-color: #181818;
            border-color: #000;
        }
        .w-md-editor-content{
            .w-md-editor-preview{
                box-shadow: inset 1px 0 0 0 #000;
                .wmde-markdown{
                    background-color: #181818;
                }
            }
        }
    }
}