.actions-menu{
    position: relative;
    z-index: 3;

    display: flex;
    justify-content: flex-end;

    height: 60px;

    .action-buttons{
        position: relative;
        width: 100%;
        height: 60px;

        .brush-btn{
            z-index: 2;
        }

        .brush-btn,
        .markdown-note-btn,
        .quick-note-btn,
        .save-btn,
        .delete-btn{
            position: absolute;
        }
    }
}