.action-btn{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;

    border: none;
    border-radius: 50%;

    .icon{
        width: 32px;
        height: 32px;
    }
    .icon-paper{
        margin-right: 5px;
    }
}
.action-btn:hover{
    cursor: pointer;
}

.action-btn-orange{
    background-color: var(--clr-primary);
}

.action-btn-black{
    background-color: var(--clr-mid-black);
}

.action-btn-blue{
    background-color: var(--clr-blue);
}

.action-btn-red{
    background-color: var(--clr-red);
}