.action-btn{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;

    border: none;
    border-radius: 50%;

    .icon{
        width: 32px;
        height: 32px;
    }
}
.action-btn:hover{
    cursor: pointer;
}

.action-btn-orange{
    background-color: #DD6E42;
}

.action-btn-black{
    background-color: #0C0C0C;
}

.action-btn-blue{
    background-color: #425BDD;
}

.action-btn-red{
    background-color: #7B2127;
}