.actions-menu{
    display: flex;
    justify-content: flex-end;

    .action-buttons{
        position: relative;

        .brush-btn{
            position: relative;
            z-index: 2;
        }

        .markdown-note-btn,
        .quick-note-btn{
            position: absolute;
            top: 0;
        }
    }
}