.icon{
    width: inherit;
    height: inherit;

    background-position: center;
    background-size: cover;
}

.icon-menu{
    background-image: url('/public/icons/menu.svg');
}

.icon-brush{
    background-image: url('/public/icons/brush.svg');
}

.icon-note{
    background-image: url('/public/icons/note.svg');
}

.icon-menu-close{
    background-image: url('/public/icons/menu_close.svg');
}

.icon-plus{
    background-image: url('/public/icons/plus.svg');
}

.icon-save{
    background-image: url('/public/icons/save.svg');
}

.icon-delete{
    background-image: url('/public/icons/delete.svg');
}

.icon-menu-dots{
    background-image: url('/public/icons/menu_dots.svg');
}

.icon-logo-dark-grey{
    background-image: url('/public/icons/logo_dark_grey.svg');
}

.icon-arrow-orange{
    background-image: url('/public/icons/arrow_orange.svg');
}

.icon-menu-arrow-left{
    background-image: url('/public/icons/menu_arrow_left.svg');
}

.icon-paper{
    background-image: url('/public/icons/paper.svg');
}

.icon-paper-black{
    background-image: url('/public/icons/paper_black.svg');
}

.icon-format{
    background-image: url('/public/icons/format.svg');
}

.icon-hide{
    background-image: url('/public/icons/hide.svg');
}
