.board{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;

    height: 34px;

    background-color: #252525;

    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .board-name{
        max-height: 18px;
        overflow-y: scroll;

        color: #ADADAD;

        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .board-name::-webkit-scrollbar{
        display: none;
    }
    input.board-name{
        padding: 0;

        width: 100%;
        
        background-color: transparent;
        
        font-size: 12pt;
        
        border: none;
        outline: none;
        border-bottom: 2px solid #ADADAD;
        margin-bottom: -2px;

        box-sizing: border-box;
    }
    .btn-menu-dots{
        display: flex;
        align-items: center;

        width: 34px;
        height: 34px;

        .icon{
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.board-active{
    background-color: #0C0C0C;

    .board-name{
        color: #fff;
    }
}

@media (max-width: 600px) {
    .board{
        height: 24px;
    }
}