.App{
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container{
  position: relative;

  width: 1000px;
  height: 100vh;

  padding: 50px 0;

  background-color: #181818;

  box-sizing: border-box;
  overflow: hidden;
}

.animated-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Fonts */

/*Poppins*/
@font-face {
    font-family: "Poppins";
    src: url("../public/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Bold.ttf");
  font-weight: bold;
}

/*Lato*/
@font-face {
  font-family: "Lato";
  src: url("../public/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../public/fonts/Lato-Bold.ttf");
  font-weight: bold;
}