.App{
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.desktop-art{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 500px;
  height: 500px;
  
  background-image: url('/public/icons/logo_dark_grey.svg');
  background-size: cover;
}
.desktop-art-left{
  left: -250px;
}
.desktop-art-right{
  right: -250px;
}
@media (max-width: 1600px) {
  .desktop-art{
    display: none;
  }
}

.app-container{
  position: relative;

  width: 1000px;
  height: 100vh;

  padding: 50px 0;

  background-color: #181818;

  box-sizing: border-box;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .app-container{
    padding: 40px 20px;
  }
}

.animated-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Fonts */

/*Poppins*/
@font-face {
    font-family: "Poppins";
    src: url("../public/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Bold.ttf");
  font-weight: bold;
}

/*Lato*/
@font-face {
  font-family: "Lato";
  src: url("../public/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../public/fonts/Lato-Bold.ttf");
  font-weight: bold;
}